In [4]:
#for loop - syntax
'''
for define_variable in sequence:
    block_of_instructionj
    _____________________
    _____________________
'''

'\nfor define_variable in sequence:\n    block_of_instructionj\n    _____________________\n    _____________________\n'

In [5]:
#print 'hello world' string 5 times.
for i in range (5):
    print("hello world....")

hello world....
hello world....
hello world....
hello world....
hello world....

In [6]:
for i in range (5):
    print(i)

0
1
2
3
4

In [7]:
for i in range (1,5):
    print(i)

1
2
3
4

In [8]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [9]:
for i in range (1, 20, 3):
    print(i)

1
4
7
10
13
16
19

In [10]:
#table of n number
v1 = int(input("Enter the number : "))
for i in range (1,11):
    print(i*v1)

Enter the number : 1
1
2
3
4
5
6
7
8
9
10

In [8]:
for i in range (10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [9]:
# write a python script to print first 10 natural number.

In [10]:
for i in range (1,22,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21

In [11]:
for i in range (3):
    for j in range (3):
        print("*", end=' ')
    print()

* * *
* * *
* * *

In [12]:
for i in range (1,4):
    for j in range (3):
        print(i, end=' ')
    print()

1 1 1
2 2 2
3 3 3

In [13]:
for i in range (3):
    for j in range (3-i):
        print("*", end=' ')
    print()

* * *
* *
*

In [14]:
for i in range (3,0,-1):
    for j in range (i):
        print("*", end=" ")
    print()

* * *
* *
*

In [15]:
for i in range (1,4):
    for j in range (i):
        print(j, end=' ')
    print()

0
0 1
0 1 2

In [16]:
for i in range (3,0,-1):
    for j in range (i):
        print(i, end=" ")
    print()

3 3 3
2 2
1

In [17]:
for i in range (1,4):
    for j in range (4-i):
        print(i, end=' ')
    print()

1 1 1
2 2
3

In [18]:
for i in range (3):
    for j in range (i+1):
        print("*", end=' ')
    print()

*
* *
* * *

In [19]:
#transfer statement
#pass 
#break
#continue

for i in range (1,6):
    pass
print("This is last line")

This is last line

In [20]:
for i in range (1,6):
    if i==3:
        continue
    print(i)

1
2
4
5

In [21]:
for i in range (1,6):
    if i==4:
        break
    print(i)

1
2
3

In [22]:
for i in range (1,6):
    if i==3:
        break
    print(i)
else:
    print("Else block")

1
2

In [23]:
for i in range (1,4):
    n1 = int(input("Enter an even number "))
    if n1%2==0:
        print("you win!!")
        break
else:
    print("you lose!!")

Enter an even number 2
you win!!

In [3]:
while True:
    n1=int(input("press 1 to add \npress 2 to sub \npress 3 to div \npress 4 to mutl"))
    if n1==1:  #add
        v1=int(input("Enter first number  "))
        v2=int(input("Enter second number "))
        print("Sum of two numbers are ",v1+v2)
    elif n1==2:
        v1=int(input("Enter first number  "))
        v2=int(input("Enter second number "))
        print("Sub of two numbers are ",v1-v2)
    elif n1==3:
        v1=int(input("Enter first number  "))
        v2=int(input("Enter second number "))
        print("division of two numbers are ",v1/v2)
    elif n1==4:
        v1=int(input("Enter first number  "))
        v2=int(input("Enter second number "))
        print("multiplication of two numbers are ",v1*v2)
    else:
        print("enter a valid number")
    
    n2=int(input("press 1 to  continue and any other key to exit "))
    if n2==1:
        continue
    else:
        break

press 1 to add
press 2 to sub
press 3 to div
press 4 to mutl...1
Enter first number  6
Enter second number 8
Sum of two numbers are  14
press 1 to  continue and any other key to exit 0