In [4]:
# -- select query with fetchall() --
import pymysql
conn = pymysql.connect(host='localhost', user='root', passwd='mysql', db='college')
myCursor = conn.cursor()
sql = "SELECT * FROM student"
myCursor.execute(sql)
result = myCursor.fetchall()
for i in result:
    print(i)
conn.commit()
myCursor.close()
conn.close()

(1, 'kunal', 1122334455, 'kunal@gmail.com', 101)
(3, 'abcd', 9421815944, 'abcd@gmail.com', 103)
(4, 'ankit', 7709649142, 'ankit200p@gmail.com', 101)
(5, 'pqr xyz', 5522115511, 'pqr@gmail.com', 103)
(6, 'akshay', 9988776655, 'akshay@gmail.com', 107)
(7, 'rakesh', 8899776665, 'rakesh@gmail.com', 102)

In [12]:
# -- select query with fetchone() --
import pymysql
conn = pymysql.connect(host='localhost', user='root', passwd='mysql', db='college')
myCursor = conn.cursor()
sql = "SELECT * FROM student where id=3"
myCursor.execute(sql)
result = myCursor.fetchone()
print(result)
conn.commit()
myCursor.close()
conn.close()

(3, 'abcd', 9421815944, 'abcd@gmail.com', 103)

In [1]:
# --- sample ---
import pymysql
conn = pymysql.connect(host='localhost', user='root', passwd='mysql', db='college')
myCursor = conn.cursor()

sql = ""
myCursor.execute(sql)
conn.commit()
myCursor.close()
conn.close()

In [2]:
# --- insert ---
import pymysql
conn = pymysql.connect(host='localhost', user='root', passwd='mysql', db='college')
myCursor = conn.cursor()

sql = "INSERT INTO student(name,mobile,email,roll_no) VALUES('akshay', 9988776655, 'akshay@gmail.com', 107)"
myCursor.execute(sql)
conn.commit()
myCursor.close()
conn.close()
print("Data inserted succesfully..........")

In [3]:
# --- insert data using input function ---
import pymysql
conn = pymysql.connect(host='localhost', user='root', passwd='mysql', db='college')
myCursor = conn.cursor()

ename = input("Enter your name=")
emobile = input("Enter mobile number=")
eemail = input("Enter your email=")
eroll_no = input("Enter your roll number=")

sql = "INSERT INTO student(name,mobile,email,roll_no) VALUES(%s,%s,%s,%s)"

arg = (ename,emobile,eemail,eroll_no)

myCursor.execute(sql,arg)

conn.commit()
myCursor.close()
conn.close()
print("Data inserted succesfully..........")

Enter your name=rakesh
Enter mobile number=8899776665
Enter your email=rakesh@gmail.com
Enter your roll number=102
Data inserted succesfully..........

In [1]:
# --- Delete opertion ---
import pymysql
conn = pymysql.connect(host='localhost', user='root', passwd='mysql', db='college')
myCursor = conn.cursor()

sql = "DELETE FROM student WHERE id=5"

myCursor.execute(sql)
conn.commit()
myCursor.close()
conn.close()
print("Data deleted succesfully....")

Data deleted succesfully....

In [2]:
# --- Delete opertion using user input ---
import pymysql
conn = pymysql.connect(host='localhost', user='root', passwd='mysql', db='college')
myCursor = conn.cursor()

id_1 = input("Enter your id=")

sql = "DELETE FROM student WHERE id=%s"

myCursor.execute(sql,id_1)
conn.commit()
myCursor.close()
conn.close()
print("Data deleted succesfully....")

Enter your id=3
Data deleted succesfully....

In [3]:
# --- update opertaion ---
import pymysql
conn = pymysql.connect(host='localhost', user='root', passwd='mysql', db='college')
myCursor = conn.cursor()

sql = "UPDATE student SET name='kunal', email='kunal@gmail.com' WHERE id=7"

myCursor.execute(sql)
conn.commit()
myCursor.close()
conn.close()

print("Data updated succesfully....")

Data updated succesfully....

In [4]:
# --- update opertaion using user input ---
import pymysql
conn = pymysql.connect(host='localhost', user='root', passwd='mysql', db='college')
myCursor = conn.cursor()

eid = input("Enter your ID=")
ename = input("Enter your name=")
eemail = input("Enter your email=")

sql = "UPDATE student SET name=%s, email=%s WHERE id=%s"

arg = (ename, eemail, eid)

myCursor.execute(sql, arg)
conn.commit()
myCursor.close()
conn.close()

print("Data updated succesfully....")

Enter your ID=1
Enter your name=akk
Enter your email=akk@gmail.com
Data updated succesfully....

In [6]:
# choice program for crud operation
import pymysql
conn = pymysql.connect(host='localhost', user='root', passwd='mysql', db='college')

def select_1():
    myCursor = conn.cursor()
    sql = "SELECT * FROM student"
    myCursor.execute(sql)
    result = myCursor.fetchall()
    for i in result:
        print(i)
    conn.commit()
    myCursor.close()
    
def insert_1():
    myCursor = conn.cursor()
    ename = input("Enter your name=")
    emobile = input("Enter mobile number=")
    eemail = input("Enter your email=")
    eroll_no = input("Enter your roll number=")

    sql = "INSERT INTO student(name,mobile,email,roll_no) VALUES(%s,%s,%s,%s)"

    arg = (ename,emobile,eemail,eroll_no)

    myCursor.execute(sql,arg)

    conn.commit()
    myCursor.close()
    print("Data inserted succesfully.....")
    
def delete_1():
    myCursor = conn.cursor()

    id_1 = input("Enter your id=")

    sql = "DELETE FROM student WHERE id=%s"

    myCursor.execute(sql,id_1)
    conn.commit()
    myCursor.close()
    print("Data deleted succesfully....")
    
def update_1():
    myCursor = conn.cursor()

    eid = input("Enter your ID=")
    ename = input("Enter your name=")
    eemail = input("Enter your email=")

    sql = "UPDATE student SET name=%s, email=%s WHERE id=%s"

    arg = (ename, eemail, eid)

    myCursor.execute(sql, arg)
    conn.commit()
    myCursor.close()
    print("Data updated succesfully....")
    
while True:
    n1 = int(input("Press 1 to select\nPress 2 to insert\nPress 3 to delete\nPress 4 to update\n:"))
    
    if n1 == 1:
        select_1()
        
    elif n1==2:
        insert_1()
        
    elif n1==3:
        delete_1()
        
    elif n1==4:
        update_1()
    
    else:
        print("Wrong choice please continue....")
        
    n2 = int(input("Press 1 to continue other to stop:"))
    if n2==1:
        continue
    else:
        break    

conn.close()

Press 1 to select
Press 2 to insert
Press 3 to delete
Press 4 to update
:1
(1, 'akk', 1122334455, 'akk@gmail.com', 101)
(4, 'ankit', 7709649142, 'ankit200p@gmail.com', 101)
(6, 'akshay', 9988776655, 'akshay@gmail.com', 107)
(7, 'kunal', 8899776665, 'kunal@gmail.com', 102)
Press 1 to continue other to stop:1
Press 1 to select
Press 2 to insert
Press 3 to delete
Press 4 to update
:2
Enter your name=akash
Enter mobile number=8899887766
Enter your email=akash@gmail.com
Enter your roll number=102
Data inserted succesfully.....
Press 1 to continue other to stop:1
Press 1 to select
Press 2 to insert
Press 3 to delete
Press 4 to update
:1
(1, 'akk', 1122334455, 'akk@gmail.com', 101)
(4, 'ankit', 7709649142, 'ankit200p@gmail.com', 101)
(6, 'akshay', 9988776655, 'akshay@gmail.com', 107)
(7, 'kunal', 8899776665, 'kunal@gmail.com', 102)
(8, 'akash', 8899887766, 'akash@gmail.com', 102)
Press 1 to continue other to stop:1
Press 1 to select
Press 2 to insert
Press 3 to delete
Press 4 to update
:3
Enter your id=4
Data deleted succesfully....
Press 1 to continue other to stop:1
Press 1 to select
Press 2 to insert
Press 3 to delete
Press 4 to update
:1
(1, 'akk', 1122334455, 'akk@gmail.com', 101)
(6, 'akshay', 9988776655, 'akshay@gmail.com', 107)
(7, 'kunal', 8899776665, 'kunal@gmail.com', 102)
(8, 'akash', 8899887766, 'akash@gmail.com', 102)
Press 1 to continue other to stop:9