In [1]:
# -- select query with fetchall() --
import pymysql
conn = pymysql.connect(host = 'localhost',user = 'root', passwd = 'mysql',db = 'college')
myCursor = conn.cursor()

sql = 'SELECT * FROM student'

myCursor.execute(sql)
result = myCursor.fetchall()

for i in result:
    print(i)
#print(result)

conn.commit()
myCursor.close()
conn.close()

(1, 'Ayush', 979695952, 'ayush@gmail.com', 101)
(2, 'pqr xyz', 87957697495, 'pqr@gmail.com', 102)
(3, 'someone', 87957697495, 'someone@gmail.com', 103)
(5, 'ankit', 58839293949, 'ankit@gmail.com', 104)
(6, 'tom', 45634231224, 'tom@gmail.com', 106)

In [2]:
# -- select query with fetchone() --
import pymysql
conn = pymysql.connect(host = 'localhost',user = 'root', passwd = 'mysql',db = 'college')
myCursor = conn.cursor()

sql = 'SELECT * FROM student WHERE id = 3'

myCursor.execute(sql)
result = myCursor.fetchone()

for i in result:
    print(i)
#print(result)

conn.commit()
myCursor.close()
conn.close()

3
someone
87957697495
someone@gmail.com
103

In [ ]:
# -- sample --
import pymysql
conn = pymysql.connect(host = 'localhost',user = 'root', passwd = 'mysql',db = 'college')
myCursor = conn.cursor()

sql = ''
myCursor.execute(sql)
conn.commit()
myCursor.close()
conn.close()

In [2]:
#---- insert ------
import pymysql
conn = pymysql.connect(host = 'localhost',user = 'root', passwd = 'mysql',db = 'college')
myCursor = conn.cursor()

sql = "INSERT INTO student(name,mobile,email,roll_no) VALUES ('akshay', 8877006688,'akshay@gmail.com',106)"
myCursor.execute(sql)
conn.commit()
myCursor.close()
conn.close()
print("data inserted succesfully..........")

data inserted succesfully..........

In [3]:
#---- insert data using input function ------
import pymysql
conn = pymysql.connect(host = 'localhost',user = 'root', passwd = 'mysql',db = 'college')
myCursor = conn.cursor()

ename = input("Enter your name= ")
emobile = input("Enter your mobile no= ")
eemail = input("Enter your email= ")
eroll_no = input("Enter your roll_no= ")
sql = "INSERT INTO student(name,mobile,email,roll_no) VALUES (%s,%s,%s,%s)"
arg = (ename, emobile, eemail, eroll_no)

myCursor.execute(sql,arg)
conn.commit()
myCursor.close()
conn.close()
print("data inserted succesfully..........")

Enter your name= akshay
Enter your mobile no= 7879877998
Enter your email= akshay@gmail.com
Enter your roll_no= 108
data inserted succesfully..........

In [1]:
#---delete----
import pymysql
conn = pymysql.connect(host = 'localhost',user = 'root', passwd = 'mysql',db = 'college')
myCursor = conn.cursor()

sql = 'DELETE FROM student WHERE id=8'

myCursor.execute(sql)
conn.commit()
myCursor.close()
conn.close()
print("data deleted succesfully")

data deleted succesfully

In [2]:
#---delete operation using user input---
import pymysql
conn = pymysql.connect(host = 'localhost',user = 'root', passwd = 'mysql',db = 'college')
myCursor = conn.cursor()

id_1 = input("Enter your id= ")
sql = 'DELETE FROM student WHERE id=%s'

myCursor.execute(sql,id_1)
conn.commit()
myCursor.close()
conn.close()
print("data deleted succesfully")

Enter your id= 7
id deleted succesfully

In [4]:
#--- update ---
import pymysql
conn = pymysql.connect(host = 'localhost',user = 'root', passwd = 'mysql',db = 'college')
myCursor = conn.cursor()

sql = "UPDATE student SET name='rajesh', email='rajesh@gmail.com' WHERE id=2"

myCursor.execute(sql)
conn.commit()
myCursor.close()
conn.close()

print("data updated succesfully.....")

data updated succesfully.....

In [5]:
#--- update using user input ---
import pymysql
conn = pymysql.connect(host = 'localhost',user = 'root', passwd = 'mysql',db = 'college')
myCursor = conn.cursor()

ename = input("Enter your name =")
eemail = input("Enter your email =")
eid = input("Enter your id = ")

sql = "UPDATE student SET name=%s, email=%s WHERE id=%s"

arg = (ename, eemail, eid)

myCursor.execute(sql,arg)
conn.commit()
myCursor.close()
conn.close()

print("data updated succesfully.....")

Enter your name =bob
Enter your email =bob@gmail.com
Enter your id = 3
data updated succesfully.....

In [ ]:
# choice program for crud operation
import pymysql
conn = pymysql.connect(host = 'localhost',user = 'root', passwd = 'mysql',db = 'college')

def select_1():
    myCursor = conn.cursor()

    sql = 'SELECT * FROM student'

    myCursor.execute(sql)
    result = myCursor.fetchall()

    for i in result:
        print(i)
    conn.commit()
    myCursor.close()
    
def insert_1():
    myCursor = conn.cursor()

    ename = input("Enter your name= ")
    emobile = input("Enter your mobile no= ")
    eemail = input("Enter your email= ")
    eroll_no = input("Enter your roll_no= ")
    sql = "INSERT INTO student(name,mobile,email,roll_no) VALUES (%s,%s,%s,%s)"
    arg = (ename, emobile, eemail, eroll_no)

    myCursor.execute(sql,arg)
    conn.commit()
    myCursor.close()
    print("data inserted succesfully..........")
    
def update_1():
    myCursor = conn.cursor()

    ename = input("Enter your name =")
    eemail = input("Enter your email =")
    eid = input("Enter your id = ")

    sql = "UPDATE student SET name=%s, email=%s WHERE id=%s"

    arg = (ename, eemail, eid)

    myCursor.execute(sql,arg)
    conn.commit()
    myCursor.close()
    print("data updated succesfully.........")
def delete_1():
    myCursor = conn.cursor()

    id_1 = input("Enter your id= ")
    sql = 'DELETE FROM student WHERE id=%s'

    myCursor.execute(sql,id_1)
    conn.commit()
    myCursor.close()
    print("data deleted succesfully......")

while True:
    n1 = int(input("Ener 1 to select\nEner 2 to insert\nEner 3 to update\nEner 4 to delete\n:"))
    if n1 == 1:
        select_1()

    elif n1 == 2:
        insert_1()

    elif n1 == 3:
        update_1()

    elif n1 == 4:
        delete_1()
        
    else:
        print("wrong choice please continue ")
        
    n2 = int(input("press 1 to continue anything else to break : "))
    if n2 == 1:
        continue
    
    else:
        break


conn.close()

Ener 1 to select
Ener 2 to insert
Ener 3 to update
Ener 4 to delete
:1
(1, 'Ayush', 979695952, 'ayush@gmail.com', 101)
(2, 'rajesh', 87957697495, 'rajesh@gmail.com', 102)
(3, 'bob', 87957697495, 'bob@gmail.com', 103)
(5, 'ankit', 58839293949, 'ankit@gmail.com', 104)
(6, 'tom', 45634231224, 'tom@gmail.com', 106)
press 1 to continue anything else to break : 1
Ener 1 to select
Ener 2 to insert
Ener 3 to update
Ener 4 to delete
:2
Enter your name= mahesh
Enter your mobile no= 787869695
Enter your email= mahesh@gmail.com
Enter your roll_no= 107
data inserted succesfully..........
press 1 to continue anything else to break : 1
Ener 1 to select
Ener 2 to insert
Ener 3 to update
Ener 4 to delete
:1
(1, 'Ayush', 979695952, 'ayush@gmail.com', 101)
(2, 'rajesh', 87957697495, 'rajesh@gmail.com', 102)
(3, 'bob', 87957697495, 'bob@gmail.com', 103)
(5, 'ankit', 58839293949, 'ankit@gmail.com', 104)
(6, 'tom', 45634231224, 'tom@gmail.com', 106)
(9, 'mahesh', 787869695, 'mahesh@gmail.com', 107)