In [1]:
# 1.  Write a python script calculate length of the string. String is given by user.

In [4]:
str_1 = str(input("Enter the string"))
counter = 0

for i in str_1:
    counter = counter +1
print("Lenght of string is : ",counter)

Enter the stringayush
Lenght of string is :  5

In [5]:
# 2. Write a python script to count vowel in a given string.

In [12]:
str_1 = str(input("Enter the string : "))
counter = 0

for i in str_1:
    if (i=='a' or i=='e' or i=='i' or  i=='o' or i=='u' or i=='A' or i=='E' or i=='O' or i=="I" or i=="U"):
        
        counter =  counter + 1

print("number of vowels in string is :", counter)

Enter the string : ayush
number of vowels in string is : 2

In [14]:
# 3. Write a python script to reverse a string

In [21]:
str_1 = str(input("Enter the string : "))
str_2 = ""
for i in str_1:
    str_2 = i+ str_2
    
print(str_2)

Enter the string : ayush
hsuya

In [22]:
# 4. Write a python script to count occurrence of a given character in a given string.

In [30]:
str_1 = str(input("Enter your string "))
c = str(input("Enter your charater "))

count = 0
for i in str_1:
    if i==c:
        count = count +1

print("number of '", c ,"' in string is",count)

Enter your string ayush
Enter your charater u
number of ' u ' in string is 1

In [31]:
# 5. Write a python script to count words in a given string.

In [41]:
str1 = input("Enter your String : ")
total = 1

for i in range(len(str1)):
    if(str1[i] == ' ' or str1 == '\n' or str1 == '\t'):
        total = total + 1

print("Total Number of Words in this String = ", total)

Enter your String : ayush
Total Number of Words in this String =  1

In [42]:
# 6. Write a python script to arrange word in a given string in alphabetical order.

In [46]:
str1 = input("Enter the sentence : ")
words = str1.split()
words.sort()
print(words)

Enter the sentence : ayush is good boy
['ayush', 'boy', 'good', 'is']

In [47]:
# 7. Write a python script to sort a list given by user

In [60]:
lst = []
  
n = int(input("Enter number of elements in list: "))
  
for i in range(0, n):
    ele = int(input())
  
    lst.append(ele)


lst.sort()
print("sorted list is :\n")
print(lst)

Enter number of elements in list: 3
23
67
54
sorted list is :

[23, 54, 67]

In [61]:
# 8. Write a python script to find greatest number in the list of integers of the list given by user.

In [67]:
##### lst = []
  
n = int(input("Enter number of elements in list: "))
  
for i in range(0, n):
    ele = int(input())
  
    lst.append(ele)
print("Largest number in list is : ",max(lst))

Enter number of elements in list: 5
34
12
354
975
456
Largest number in list is :  975

In [68]:
# 9. Write a python script to calculate sum of all the integers of the list given by user

In [74]:
lst = []
  
n = int(input("Enter number of elements in list: "))
  
for i in range(0, n):
    ele = int(input())
  
    lst.append(ele)
print("your list is :",lst)

total = 0
for i in lst:
    total = total + i
print(total)

Enter number of elements in list: 3
1
3
2
your list is : [1, 3, 2]
6

In [1]:
# 10. Write a python script to create a list of square of first n natural number use for loop to fill list with elements. Values of n taken from user.

In [8]:
lst = []

n = int(input("Enter number : "))

for i in range (0,n):
    i += 1
    sqr = i**2
    lst.append(sqr)
print(lst)

Enter number : 10
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
# 11. Write a python script to print indices of all occurrence of a given element in a given list.

In [10]:
#______________________
# _____________________
# _____________________
# _____________________
# _____________________

In [11]:
# 12. Write a python script to calculate sum of all even number and sum of all odd number of the list. List data given by user.

In [19]:
lst  = []
lst1 = []
lst2 = []
n = int(input("Enter the number of elements in list : "))

for i in range (0,n):
    
    n2 = int(input())
    lst.append(n2)
    
for j in range (0,n):
    if n2%2==0 or n2==0:
        lst1.append(n2)
    else:
        lst2.append(n2)

print("List is : ")
print(lst)
print("Sum of all even numbers in list is : ")
print(sum(lst1))
print("Sum of all odd numbers in list is : ")
print(sum(lst2))

Enter the number of elements in list : 4
2
3
2
3
List is :
[2, 3, 2, 3]
Sum of all even numbers in list is :
0
Sum of all odd numbers in list is :
12

In [26]:
# 13. Write a python script to sort a tuple

In [37]:
v1 = (eval(input("Enter numbers = ")))
print(v1,type(v1))

sorted(v1)

Enter numbers = 3,4,2
(3, 4, 2) <class 'tuple'>

[2, 3, 4]

In [38]:
# 14. Write a python script to merge two sorted tuple

In [43]:
v1 = eval(input("Enter numbers seperated by comma without space = "))
v2 = eval(input("Enter numbers seperated by comma without space = "))

print(sorted(v1+v2))

Enter numbers seperated by comma without space = 3,4
Enter numbers seperated by comma without space = 3,4
[3, 3, 4, 4]

In [ ]:
# 15. Write a python script to reverse a tuple.

In [47]:
v1 = eval(input("Enter numbers seperated by comma without space = "))
print(v1[::-1])

Enter numbers seperated by comma without space = 4,7,9,0,8,6,43
(43, 6, 8, 0, 9, 7, 4)

In [48]:
# 16. Write a python script to count element in the tuple

In [53]:
t1 = eval(input("Enter numbers seperated by comma without space = "))
print("Elements in tuple is = ",len(t1))

Enter numbers seperated by comma without space = 3,5,7,4
Elements in tuple is =  4

In [54]:
# 17. Write a python script to calculate sum of the elements of the tuple. Tuple input is takenfrom keyboard (all values are of int type).

In [56]:
t1 = eval(input("Enter numbers seperated by comma without space = "))
print(t1,type(t1))
print("Elements in tuple is = ",sum(t1))

Enter numbers seperated by comma without space = 3,4,5,3
(3, 4, 5, 3) <class 'tuple'>
Elements in tuple is =  15

In [57]:
# 18. Write a python script to find greatest number from a tuple of int value.

In [3]:
t1 = eval(input("Enter numbers seperated by comma without space = "))

print("greatest number from the tuple is = ",max(t1))

Enter numbers seperated by comma without space = 3,5,6,78,9,7,66,98
greatest number from the tuple is =  98

In [1]:
# 19. Write a python script to check whether a tuple is a subset of another tuple or not

In [4]:
t1 = (1,2,4,5,6,8)
t2 = (2,4,6)

v1 = set(t2).issubset(t2)

print("Is 2nd tuple subset of 1st ? = ",v1)

Is 2nd tuple subset of 1st ? =  True

In [5]:
# 20. Write a python script to print dict item (key, value) each in one line.

In [12]:
student_dict = {
    
    "harry":"fish",
    "mohan":"idli",
    "ramesh":"curry",
    "rajesh":"soup",
    "mahesh":"salad",
}

for keys, values in student_dict.items():
    print(keys, ":", values)

harry : fish
mohan : idli
ramesh : curry
rajesh : soup
mahesh : salad

In [13]:
# 21. Write a python script to create a dictionary in which each item is a pair of Roll number (as key and student Name as value).

In [19]:
student_dict = {
    
    101:{"Name":"Harry", "Email":"harry@gmail.com"},
    102:{"Name":"Rohan", "Email":"rohan@gmail.com"},
    103:{"Name":"Akit", "Email":"ankit@gmail.com"},
    104:{"Name":"Salman" ,"Email":"salman@gmail.com"},
    105:{"Name":"Ayush", "Email":"ayush@gmail.com"}
}

for key, value in student_dict.items():
    print(key, '--')
    
    for subject, score in value.items():
        print(subject, ' : ', score)

101 --
Name  :  Harry
Email  :  harry@gmail.com
102 --
Name  :  Rohan
Email  :  rohan@gmail.com
103 --
Name  :  Akit
Email  :  ankit@gmail.com
104 --
Name  :  Salman
Email  :  salman@gmail.com
105 --
Name  :  Ayush
Email  :  ayush@gmail.com

In [25]:
dict1 = {1:8, 2:7, 3:6, 4:5, 5:4, 5:3, 6:2, 7:1}
dict2 = sorted.values()

AttributeError: 'builtin_function_or_method' object has no attribute 'values'